In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("https://covid.ourworldindata.org/data/owid-covid-data.csv",usecols=['continent','location','date','new_cases','new_cases_smoothed','new_deaths'])
data.head()

,continent,location,date,new_cases,new_cases_smoothed,new_deaths
0,Asia,Afghanistan,2020-02-24,1.0,NaN,NaN
1,Asia,Afghanistan,2020-02-25,0.0,NaN,NaN
2,Asia,Afghanistan,2020-02-26,0.0,NaN,NaN
3,Asia,Afghanistan,2020-02-27,0.0,NaN,NaN
4,Asia,Afghanistan,2020-02-28,0.0,NaN,NaN

In [3]:
data_india = data.query('location=="India"').reset_index()
data_india.drop(['index','new_cases_smoothed','new_deaths'],axis=1,inplace=True)
# data_india = np.where(data.location == "India")
data_india.head()

  continent location        date  new_cases
0      Asia    India  2020-01-30        1.0
1      Asia    India  2020-01-31        0.0
2      Asia    India  2020-02-01        0.0
3      Asia    India  2020-02-02        1.0
4      Asia    India  2020-02-03        1.0

In [4]:
data_india.tail(30)

    continent location        date  new_cases
427      Asia    India  2021-04-01    81466.0
428      Asia    India  2021-04-02    89129.0
429      Asia    India  2021-04-03    93249.0
430      Asia    India  2021-04-04   103558.0
431      Asia    India  2021-04-05    96982.0
432      Asia    India  2021-04-06   115736.0
433      Asia    India  2021-04-07   126789.0
434      Asia    India  2021-04-08   131968.0
435      Asia    India  2021-04-09   145384.0
436      Asia    India  2021-04-10   152879.0
437      Asia    India  2021-04-11   168912.0
438      Asia    India  2021-04-12   161736.0
439      Asia    India  2021-04-13   184372.0
440      Asia    India  2021-04-14   200739.0
441      Asia    India  2021-04-15   217353.0
442      Asia    India  2021-04-16   234692.0
443      Asia    India  2021-04-17   261394.0
444      Asia    India  2021-04-18   273802.0
445      Asia    India  2021-04-19   259167.0
446      Asia    India  2021-04-20   295158.0
447      Asia    India  2021-04-21   314644.0
448      Asia    India  2021-04-22   332921.0
449      Asia    India  2021-04-23   346786.0
450      Asia    India  2021-04-24   349691.0
451      Asia    India  2021-04-25   352991.0
452      Asia    India  2021-04-26   323023.0
453      Asia    India  2021-04-27   360927.0
454      Asia    India  2021-04-28   379308.0
455      Asia    India  2021-04-29   386555.0
456      Asia    India  2021-04-30   401993.0

In [59]:
# data_india = data_india.drop([451])

In [5]:
data_india.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   continent  457 non-null    object
 1   location   457 non-null    object
 2   date       457 non-null    object
 3   new_cases  457 non-null    float64
dtypes: float64(1), object(3)
memory usage: 14.4+ KB

In [6]:
data_india.isnull().sum()

continent    0
location     0
date         0
new_cases    0
dtype: int64

In [7]:
data_india.shape

(457, 4)

In [8]:
data_india.head()

  continent location        date  new_cases
0      Asia    India  2020-01-30        1.0
1      Asia    India  2020-01-31        0.0
2      Asia    India  2020-02-01        0.0
3      Asia    India  2020-02-02        1.0
4      Asia    India  2020-02-03        1.0

In [9]:
type(data_india)

pandas.core.frame.DataFrame

In [11]:
data_india[["year", "month", "day"]] = data_india["date"].str.split("-", expand = True)

In [12]:
data_india.head()

  continent location        date  new_cases  year month day
0      Asia    India  2020-01-30        1.0  2020    01  30
1      Asia    India  2020-01-31        0.0  2020    01  31
2      Asia    India  2020-02-01        0.0  2020    02  01
3      Asia    India  2020-02-02        1.0  2020    02  02
4      Asia    India  2020-02-03        1.0  2020    02  03

In [16]:
data_india.drop(columns=['continent','location'],inplace=True)

In [17]:
data_india.head()

   new_cases  year month day
0        1.0  2020    01  30
1        0.0  2020    01  31
2        0.0  2020    02  01
3        1.0  2020    02  02
4        1.0  2020    02  03

In [18]:
data_india.dtypes

new_cases    float64
year          object
month         object
day           object
dtype: object

In [19]:
data_india.day = data_india.day.astype('int64')
data_india.month = data_india.month.astype('int64')
data_india.year = data_india.year.astype('int64')
data_india.new_cases = data_india.new_cases.astype('int64')

In [21]:
data_india.dtypes

new_cases    int64
year         int64
month        int64
day          int64
dtype: object

In [33]:
corr_matrix = data_india.corr()
corr_matrix.new_cases

new_cases    1.000000
year         0.306600
month        0.142993
day          0.120614
Name: new_cases, dtype: float64

In [22]:
X = data_india.drop(columns=['new_cases'])
y = data_india.new_cases

In [26]:
X.head()
X.ndim
# type(X)
X.shape

(457, 3)

In [29]:
X.head()
# X.info()

   year  month  day
0  2020      1   30
1  2020      1   31
2  2020      2    1
3  2020      2    2
4  2020      2    3

In [34]:
type(X)

pandas.core.frame.DataFrame

In [37]:
X.dtypes

year     int64
month    int64
day      int64
dtype: object

In [39]:
y.head()

0    1
1    0
2    0
3    1
4    1
Name: new_cases, dtype: int64

In [40]:
type(y)

pandas.core.series.Series

In [42]:
print("Shape of X: ",X.shape)
print("Shape of y: ",y.shape)

Shape of X:  (457, 3)
Shape of y:  (457,)

In [43]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test = train_test_split(X,y,test_size=.15,random_state = 101)

In [45]:
X_train.shape

(388, 3)

In [46]:
y_train.shape

(388,)

In [47]:
from sklearn.linear_model import LinearRegression

In [48]:
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression()

In [49]:
prediction = lr.predict(X_test)

In [50]:
from sklearn import metrics
print('MAE: ',metrics.mean_absolute_error(y_test,prediction))
print('MSE: ',metrics.mean_squared_error(y_test,prediction))
print('RMSE: ',np.sqrt(metrics.mean_squared_error(y_test,prediction)))
print('R squared: ',metrics.r2_score(y_test,prediction))

MAE:  31799.70929858693
MSE:  2678455394.7464876
RMSE:  51753.7959452878
R squared:  0.2639513865084412

In [51]:
from sklearn.linear_model import Ridge
ridge = Ridge()
ridge.fit(X_train,y_train)
prediction = ridge.predict(X_test)

In [52]:
from sklearn import metrics
print('MAE: ',metrics.mean_absolute_error(y_test,prediction))
print('MSE: ',metrics.mean_squared_error(y_test,prediction))
print('RMSE: ',np.sqrt(metrics.mean_squared_error(y_test,prediction)))
print('R squared: ',metrics.r2_score(y_test,prediction))

MAE:  31618.829066205715
MSE:  2679202012.8798757
RMSE:  51761.008615364866
R squared:  0.263746213316845

In [53]:
from sklearn.linear_model import Lasso
lasso = Lasso()
lasso.fit(X_train,y_train)
prediction = lasso.predict(X_test)

In [54]:
from sklearn import metrics
print('MAE: ',metrics.mean_absolute_error(y_test,prediction))
print('MSE: ',metrics.mean_squared_error(y_test,prediction))
print('RMSE: ',np.sqrt(metrics.mean_squared_error(y_test,prediction)))
print('R squared: ',metrics.r2_score(y_test,prediction))

MAE:  31798.73245708493
MSE:  2678453767.741767
RMSE:  51753.78022658603
R squared:  0.26395183361484853

In [55]:
from sklearn.model_selection import RandomizedSearchCV,GridSearchCV
r=Ridge()
parameters={'alpha':[1,20]}
l=RandomizedSearchCV(r,parameters,scoring="neg_mean_squared_error",cv=5)
l.fit(X_train,y_train)
prediction = l.predict(X_test)
print('MAE: ',metrics.mean_absolute_error(y_test,prediction))
print('MSE: ',metrics.mean_squared_error(y_test,prediction))
print('RMSE: ',np.sqrt(metrics.mean_squared_error(y_test,prediction)))
print('R squared: ',metrics.r2_score(y_test,prediction))

MAE:  31618.829066205715
MSE:  2679202012.8798757
RMSE:  51761.008615364866
R squared:  0.263746213316845

C:\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:278: UserWarning: The total space of parameters 2 is smaller than n_iter=10. Running 2 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

In [56]:
r=Ridge()
parameters={'alpha':[1000,100,30,40,50]}
l=GridSearchCV(r,parameters,scoring="neg_mean_squared_error",cv=5)
l.fit(X_train,y_train)
prediction = l.predict(X_test)
print('MAE: ',metrics.mean_absolute_error(y_test,prediction))
print('MSE: ',metrics.mean_squared_error(y_test,prediction))
print('RMSE: ',np.sqrt(metrics.mean_squared_error(y_test,prediction)))
print('R squared: ',metrics.r2_score(y_test,prediction))

MAE:  29886.87156178014
MSE:  2802651771.392962
RMSE:  52940.07717592563
R squared:  0.22982180159520604

In [57]:
l.best_params_

{'alpha': 30}

In [58]:
from sklearn.ensemble import RandomForestRegressor
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}

In [59]:
r=RandomForestRegressor(n_estimators=100)
rf = RandomForestRegressor()
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
rf_random.fit(X_train,y_train)
prediction = rf_random.predict(X_test)
print('MAE: ',metrics.mean_absolute_error(y_test,prediction))
print('MSE: ',metrics.mean_squared_error(y_test,prediction))
print('RMSE: ',np.sqrt(metrics.mean_squared_error(y_test,prediction)))
print('R squared: ',metrics.r2_score(y_test,prediction))

Fitting 3 folds for each of 100 candidates, totalling 300 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:   19.0s
[Parallel(n_jobs=-1)]: Done 146 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed:  2.8min finished

MAE:  2958.6334782608687
MSE:  24313118.294403147
RMSE:  4930.8334279717
R squared:  0.9933186727524557

In [60]:
X_test

     year  month  day
12   2020      2   11
19   2020      2   18
133  2020      6   11
211  2020      8   28
317  2020     12   12
..    ...    ...  ...
224  2020      9   10
236  2020      9   22
195  2020      8   12
243  2020      9   29
98   2020      5    7

[69 rows x 3 columns]

In [61]:
date = X_test.loc[243]
date = date.to_frame()
# np.reshape(date,(3,1))
date = date.transpose()

In [62]:
date.shape
# date = date.iloc[:, ::-1]
# date.head()

date = date.iloc[:,::-1]
type(date)
date

     day  month  year
243   29      9  2020

In [63]:
r=RandomForestRegressor(n_estimators=100)

r.fit(X_train,y_train)

RandomForestRegressor()

In [75]:
prediction = r.predict(X_test)

In [76]:
prediction

array([0.0000000e+00, 0.0000000e+00, 1.0639250e+04, 7.6003690e+04,
       2.8809120e+04, 6.2886340e+04, 3.1177320e+04, 4.6844870e+04,
       1.8159900e+03, 1.2164964e+05, 2.8242400e+03, 7.1461210e+04,
       1.3970190e+04, 3.6448480e+04, 2.9907203e+05, 4.1413840e+04,
       1.7442940e+04, 5.3276220e+04, 6.3308000e+02, 4.0089280e+04,
       6.0317170e+04, 3.3505450e+04, 1.7280100e+03, 2.8930150e+04,
       6.7001200e+03, 1.5676380e+04, 8.4706000e+02, 9.8141600e+03,
       1.4080330e+04, 5.9172830e+04, 5.6480310e+04, 1.3804137e+05,
       8.6000000e-01, 4.1293200e+03, 2.7300000e+00, 3.4234856e+05,
       4.8941490e+04, 9.3000000e+00, 5.7173990e+04, 3.6347880e+04,
       2.0498960e+04, 7.4331660e+04, 2.2155460e+04, 1.5213770e+04,
       3.3800000e+00, 2.0317790e+04, 7.5112970e+04, 4.1841930e+04,
       2.3296440e+04, 1.5289810e+04, 5.4535060e+04, 1.0500798e+05,
       2.0317790e+04, 1.6997170e+04, 8.2124080e+04, 6.8733830e+04,
       1.7346600e+03, 2.4515200e+04, 3.8685200e+04, 1.0300000e+00,
       0.0000000e+00, 4.3407540e+04, 1.7443220e+04, 4.0731330e+04,
       9.5200700e+04, 7.8351970e+04, 6.1893790e+04, 7.6698110e+04,
       3.4792500e+03])

In [77]:
print('MAE: ',metrics.mean_absolute_error(y_test,prediction))
print('MSE: ',metrics.mean_squared_error(y_test,prediction))
print('RMSE: ',np.sqrt(metrics.mean_squared_error(y_test,prediction)))
print('R squared: ',metrics.r2_score(y_test,prediction))

MAE:  3081.2153623188406
MSE:  26338074.627942014
RMSE:  5132.063388924772
R squared:  0.9927622078941625

In [97]:
data = X.iloc[339:407,:]
data_labels = y.loc[339:406]

In [100]:
data.head()
data_labels.head()
data.shape
data_labels.shape

(68,)

In [101]:
prediction = r.predict(data)
print('MAE: ',metrics.mean_absolute_error(data_labels,prediction))
print('MSE: ',metrics.mean_squared_error(data_labels,prediction))
print('RMSE: ',np.sqrt(metrics.mean_squared_error(data_labels,prediction)))
print('R squared: ',metrics.r2_score(data_labels,prediction))

MAE:  1244.3179411764704
MSE:  5150932.909088234
RMSE:  2269.566678705042
R squared:  0.7424642878583282

In [102]:
import pickle
filename = 'finalized_model.sav'
pickle.dump(r, open(filename, 'wb'))

In [104]:
loaded_model = pickle.load(open(filename, 'rb'))
prediction = loaded_model.predict([[2021,4,29]])
prediction

array([384166.83])